.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; // Center modal vertically within the viewport
  height: 100vh;
  padding: 20px; // Adjusted for consistency
  overflow-y: auto; // Allows scrolling if modal content exceeds viewport height
  background: rgba(0, 0, 0, 0.75); // Darker background for better focus on modal
}

.modalCard {
  max-width: 85%; // Allows the card to adapt up to 90% of the viewport width
  min-width: 300px; // Minimum width to maintain usability
  margin: auto;
  background: var(--background-light);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem; // Rounded edges for the entire card
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageSlideshowContainer {
  width: 100%;
  /* Height is controlled by padding-top to maintain a 16:9 aspect ratio */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  overflow: hidden;

  /* Ensuring the image fills the container */
  > .modalImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Adjust as needed to cover or contain based on your preference */
    }
  }
}


.modalImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  &.active {
    opacity: 1;
    z-index: 2;
  }
  &:not(.active) {
    opacity: 0;
    z-index: 1;
    object-fit: cover;
  }
}

.modalContent {
  padding: 2.4rem;
  overflow-y: auto; // Scrollable content
  flex-grow: 1;
  position: relative;
  // Apply your specific font, size, and color stylings here
  font-family: 'Slussen.Exp', sans-serif;

  h4 {
    font-family: 'Slussen.Exp', sans-serif;
    font-size: var(--text-lg);
  }
}

.modalTech {
  font-family: 'Slussen.Comp', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  font-size: var(--text-sm);
  color: var(--brand);

  margin: 0.2rem 0 2.4rem;
}

.suppliedContent {
  font-family: 'Slussen.Reg', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: var(--text-xs);
  list-style-type: decimal;
}

.modalFooter {
  font-family: 'Slussen.Bold', sans-serif;
  text-transform: uppercase;
  margin-top: 2.4rem;
}

.linksText {
  font-weight: bold;
  font-size: var(--text-md);
  margin-bottom: 0.8rem;

  span {
    color: var(--brand);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  a {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: var(--text-xs);
    color: var(--brand);
  }

  a:hover {
    text-decoration: underline;
  }
}

.closeModalBtn {
  background: none;
  border: none;
  color: var(--brand);
  z-index: 1000;
  font-size: var(--text-xl);

  position: absolute;
  top: 3.2rem;
  right: 1.9rem;

  cursor: pointer;
  @media(max-width:790px){
    font-size: var(--text-lg);
    top: 1rem;
    right: 1.2rem;
  }
}
