@import 'styles/_functions';

.hero {
  margin-bottom: 1.6rem;

  @media (max-width: 768px) {
    margin-bottom: 4.8rem;
  }
}

.copyWrapper {
  font-family: 'Slussen.Exp', sans-serif;
  font-weight: 100;
  position: relative;
  z-index: 10;
  margin: 4.8rem 0;
  text-align: left; // Align text to the left
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Align items to start of flex container (left)
}

.title {
  font-family: 'Slussen.Exp', sans-serif;
  letter-spacing: -0.4rem;
  text-transform: uppercase;
  line-height: 120%;
  font-size: mobile-vw(56px);
  text-shadow: 0 0 4px rgb(255, 255, 255), 0 0 12px rgba(255, 255, 255, 0.5);
  
  @include desktop {
    font-size: desktop-vw(60px);
    line-height: 120%;
  }
}

.subTitle {
  font-family: 'Slussen.Exp', sans-serif;
  line-height: 1.1;
  margin-top: 2rem;
  margin-left: -.1rem;
  padding: 0rem;
  font-weight: 100;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  font-family: 'Slussen.Exp', sans-serif;
  margin-top: 2rem;
  padding: 0rem;
  max-width: 460px;
  font-weight: 200;
}

.outlineButton {
  font-family: 'Slussen.Exp', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: var(--text-sm);
  letter-spacing: 0.1em;
  padding: 1.2rem 2.4rem;
  border: 2px solid rgb(34, 150, 212);
  border-radius: 12px;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0.5rem;
  color: rgb(34, 150, 212);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

  &:hover {
    background-color: rgb(34, 150, 212);
    color: #000000;
    text-shadow: none;
  }
}
