@import 'styles/_functions';

.hero {
  margin-bottom: 0.6rem;
  margin-left: 0rem;

  @media (max-width: 768px) {
    margin-bottom: 0.8rem;
  }
}


.copyWrapper {
  font-family: 'Slussen.Exp', sans-serif;
  font-weight: 100;
  position: relative;
  z-index: 10;
  margin: 0.5rem 0.84rem;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  @media (max-width: 768px) {
    text-align: center;
    align-items: center;
  }
}

.rockOnSVG {
  stroke: var(--brand); // Define the stroke color
  stroke-width: 2px;
  position: absolute;
  height: auto;
  margin-top: 5rem;
  right: 0;
  width: 45%; // Adjust the size as needed
  z-index: -1; // To ensure it's behind the text
  animation: wiggle 10s ease-in-out infinite;

  @media (max-width: 768px) {
    letter-spacing: 0rem;
    justify-content: center;
    margin-right: 0;
  }
}

@keyframes wiggle {
  0%, 10%, 20%, 30%, 40%, 50%, 60% { transform: rotate(0deg); }
  71% { transform: rotate(0deg); }
  70% { transform: rotate(-5deg); }
  72% { transform: rotate(5deg); }
  74% { transform: rotate(-5deg); }
  76% { transform: rotate(5deg); }
  78% { transform: rotate(-5deg); }
  80% { transform: rotate(5deg); }
  82% { transform: rotate(0deg); }
}

.title {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  font-family: 'Slussen.Exp', sans-serif;
  letter-spacing: -0rem;
  text-transform: none;
  line-height: 120%;
  margin-left: 0rem;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
  font-size: var(--text-xl);
  text-shadow: 0 0 4px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 0.5);
  
  @media (max-width: 768px) {
    letter-spacing: 0rem;
    justify-content: center;
    margin-right: 0;
  }

  .emojiContainer {
    margin-right: 100px;
    font-size: 5rem;
    margin-bottom: 7rem;

    @media (max-width: 768px) {
      margin-right: 7rem;
      margin-left:0rem;
      margin-bottom: 1;
      margin-top: 0rem;
    }
  }

  span {
    margin-left: 25px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  .hello {
    margin-right: 25px;

    @media (max-width: 768px) {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }
}

.subTitle {
  font-family: 'Slussen.Exp', sans-serif;
  line-height: 1.1;
  margin-top: 2.5rem;
  margin-left: -1.1rem;
  margin-bottom: 1rem;
  font-size: var(--text-mdS);
  font-weight: 100;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  span {
    font-weight: bold;
    color: var(--brand);
    margin-left: 5px;
  }
}

.aboutCopy {
  font-family: 'Slussen.Exp', sans-serif;
  margin-top: 2rem;
  max-width: 460px;
  font-weight: 200;
}

.outlineButton {
  font-family: 'Slussen.Exp', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: var(--text-sm);
  letter-spacing: 0.1em;
  padding: 1.2rem 2.4rem;
  border: 2px solid rgb(34, 150, 212);
  border-radius: 12px;
  margin-top: 2rem;
  //color: rgb(34, 150, 212);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  &:hover {
    //background-color: rgb(34, 150, 212);
    color: #000000;
    text-shadow: none;
  }

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

// Keyframes and other styles

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.emojiFadeEnter {
  opacity: 0;
  animation: fadeIn 700ms forwards; // adjust time as necessary
}

.emojiFadeEnterActive {
  opacity: 1;
}

.emojiFadeExit {
  opacity: 1;
}

.emojiFadeExitActive {
  animation: fadeOut 700ms forwards; // adjust time as necessary
}

// Ensure emojis are positioned in the same space
.emoji {
  position: absolute;
  left: -1rem; // or center it as needed

  @media (max-width: 768px) {
    left: 1rem;
  }
}
