.iconWrapper {
  position: center;
  width: 700px; // Fixed width
  height: 300px; // Fixed height
  max-width: 100%; // You might want to adjust or remove this
  z-index: 0;
  // Optional styles
  // border: 2px solid #ffffff; // Choose your border color
  // border-radius: 28px; // Optional: if you want rounded corners

  canvas {
    width: 100%;
    height: 100%;
    object-fit: contain; // Ensure the content is scaled correctly
  }

  // Adjusting for medium-sized screens
  @media (max-width: 950px) {
    top: 6px;
    right: 2rem;
    width: 500px;
    height: 300px;
  }

  // Adjusting for smaller screens
  @media (max-width: 768px) {
    top: 10px;
    right: 1rem;
    width: 700px;
    height: 350px;
  }

  // Adjusting for very small screens
  @media (max-width: 500px) {
    position: static; // To allow natural flow in the document
    margin: 0 auto; // To center it horizontally
    width: 300px;
    height: 100px;
  }
}
