@import 'styles/_functions';

.about {
  font-family: 'Slussen.Reg', sans-serif;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.aboutText {
  font-family: 'Respira', sans-serif;
  margin-bottom: 0.4rem;
  font-size: smaller;

  span{
    background: var(--background-light);
    padding: 1rem;
    border-radius: 0.6rem;
    font-size: var(--text-md);
    font-weight: bold;
    margin-right: 0.6rem;
    float: left;
  }
}

.aboutText:not(:last-child) {
  margin-bottom: 1.5rem; // Adjust the value as needed
}


.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: var(--text-sm);
  color: var(--brand);
}



